/*#graphs{*/
    /*display:flex;*/
    /*flex-wrap:wrap;*/
    /*justify-content:space-around;*/
/*}*/

#regions_div{
    height: 50vh;
}

#piechart{
    height: 50vh;
}

#country-search{
    display:flex;
    align-self:center;
}

#country-input{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1vh;
}

#button-press{
    text-align: right;
    padding-top: 1vh;
}

#additional-data{
    text-align: center;
    padding-top: 9vh;
}