#graphs{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

#regions_div{
    height:50vh;
    width:50vw;
}

#piechart{
    height:50vh;
    width:50vh;
}

#country-search{
    display:flex;
    align-self:center;
}